.mix {
	display: flex;
	flex: 1 1 100%;
	box-shadow: 10px 10px 16px -10px rgba(119, 119, 119, 0.15);
}

.image {
	display: flex;
	width: 35%;
	max-width: 140px;
}

.details {
	display: flex;
	flex: 1;
}
