@import '../../../styles//base/config.scss';

.brand {
	display: flex;
	align-items: center;
}

.name {
	font-size: 2.4rem;
	font-weight: $font_weight_normal;
	color: $text_colour_light;
	margin: 0 0 0 1.2rem;
}
