@import '../../styles/base/config.scss';

.header {
	background-color: $colour_primary;
	padding: 1.5rem;
}

.brand {
	display: flex;
	align-items: center;

	&__name {
		font-size: 2.4rem;
		font-weight: $font_weight_normal;
		color: $text_colour_light;
		margin: 0 0 0 1.2rem;
	}
}

@media screen and (min-width: 580px) {
	.header {
		padding: 2rem 2.5rem;
	}
}
