@import '../../../styles/base/config.scss';

.wrapper {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	position: relative;
}

/* Hide 'x' in webkit.
---------------------------------------- */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
	-webkit-appearance: none;
}

/* Change autofill in Chrome.
---------------------------------------- */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	border: 1px solid $form_control_border;
	-webkit-text-fill-color: $text_colour;
}

.control {
	display: block;
	width: 100%;
	border: 1px solid $form_control_border;
	font-size: 1.4rem;
	padding: 1rem;
	color: $text_colour;
	outline: none;

	&--search {
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}
}

.error {
	border-color: red;
}

.srt {
	border: 0;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
